@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&family=Questrial&display=swap');

.purple-purse {
  font-family: "Purple Purse", serif;
  font-weight: 400;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content-para{
    /* font-size:40px; */
    /* line-height: 48px; */
    font-family: "Questrial", sans-serif;
}