// scroll view scale animation

.card-view-scale {
    animation: scroll-view-scale linear 0.5s;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    @keyframes scroll-view-scale {
        from {
            opacity: 0;
            transform: scale(0.5);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}
