@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}

.lato {
  font-family: "Lato", serif !important;
  font-optical-sizing: auto;
}

.playfair {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto;
}

:root {
  --font-body: roboto;
  --font-heading: playfair;
}

* {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.48rem;
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
  background-color: gray;
  border-radius: 0.7rem;
  border: 1px solid #ffefe3;
}

::-webkit-scrollbar-corner {
  border-radius: 50%;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: gray;
  display: none;
  margin-block: 0.1rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
  display: none;
  border-radius: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font_go {
    font-family: "font_go Regular" sans-serif;
    font-optical-sizing: auto;
  }

  // .letter_spacing {
  //   letter-spacing: -0.07em;
  // }
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  .no-spinner {
    @apply appearance-none;
  }

  .box_shadow {
    background: #fff;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  }

  .max-width {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width: 770px) {
      padding: 0 1.2rem;
    }
  }

  .max-screen {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
  }

  .largeHeading {
    font-size: 3rem;
    line-height: normal;

    @media screen and (max-width: 640px) {
      font-size: 2.5rem;
    }
  }

  .mediumHeading {
    font-size: 2rem;
    line-height: normal;

    @media screen and (max-width: 640px) {
      font-size: 1.5rem;
    }
  }

  .heading1 {
    font-size: 1.5rem;
    line-height: 2rem;

    @media screen and (max-width: 640px) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  .description1 {
    font-size: 1.125rem;
    line-height: 1.625rem;

    @media screen and (max-width: 640px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .description2 {
    font-size: 1rem;
    line-height: 1.5rem;

    @media screen and (max-width: 640px) {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  .description3 {
    font-size: 0.875rem;
    line-height: 1.25rem;

    @media screen and (max-width: 640px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
}

.our_features_swiper {

  .pagination,
  .pagination_1,
  .pagination_2,
  .pagination_3 {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // gap: 0.4rem;

    .swiper-pagination-bullet {
      width: 0.5rem;
      height: 0.5rem;
      background-color: rgba(199, 44, 39, 0.5); // Light blue color
      border-radius: 50%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    .swiper-pagination-bullet-active {
      // width: 0.8rem;
      // height: 0.8rem;
      background-color: #c72c27;
      position: relative;
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        top: -0.25rem;
        left: -0.25rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #1f1f1f; // Dark outer border
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #c72c27;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    &::after {
      font-size: 1rem;
      font-weight: 800;
    }

    @media screen and (max-width: 640px) {
      width: 2rem;
      height: 2rem;

      &::after {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }
  }
}

#gallery,
#reviews,
#about,
#our_featured_dishes {
  position: relative;
}

#gallery::before,
#gallery::after,
#reviews::before,
#about::before,
#our_featured_dishes::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 6.8rem;
  width: 6.8rem;
  height: 11rem;
}

#gallery::before {
  background-image: url("/bg2.png");
  bottom: -3rem;
  left: 10px;

  @media (width < 780px) {
    background: none;
  }
}

#gallery::after {
  background-image: url("/bg1.png");
  top: -2rem;
  right: 10px;

  @media (width < 780px) {
    background: none;
  }
}

#reviews::before {
  background-image: url("/bg3.png");
  top: -5.5rem;
  left: 0px;

  @media (width < 780px) {
    background: none;
  }
}

#about::before {
  background-image: url("/bg4.png");
  bottom: -4rem;
  right: 0px;

  @media (width < 780px) {
    background: none;
  }
}

#our_featured_dishes::before {
  background-image: url("/bg2.png");
  top: 15px;
  right: 0px;

  @media (width < 780px) {
    background: none;
  }
}


.font-family-head {
  font-family: "Playfair Display";
}

.font-family-norm {
  font-family: "Roboto";
}

.border-red-50 {
  border: 1px solid red;
}

.bg-yellow-cards {
  background: #F9F9F1 !important
}

.we-offer-slider .swiper-slide:not(.swiper-slide-active) {
  filter: blur(5px);
  transition: all;
  transition-duration: 1000ms;

  h3 {
    opacity: 0;
  }
}

.we-offer-slider .swiper-slide:not(.swiper-slide-active) {
  filter: blur(5px);
  transition: all;
  transition-duration: 1000ms;
}

.facility-map-border {
  border-width: 1px 0 !important;
  border-style: solid !important;
  border-color: rgba(178, 178, 178, 1) !important;
}