@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  // scroll-behavior: smooth;
}

.font-plus {
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0.48rem;
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
  background-color: gray;
  border-radius: 0.7rem;
  border: 1px solid #ffefe3;
}

::-webkit-scrollbar-corner {
  border-radius: 50%;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: gray;
  display: none;
  margin-block: 0.1rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
  display: none;
  border-radius: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  .no-spinner {
    @apply appearance-none;
  }

  .box_shadow {
    background: #fff;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  }
  .box-shadow {
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  }

  .contact-Banner {
    &::after {
      box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    }
  }

  .underline-none {
    text-decoration: none;
  }

  .max-width {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width: 770px) {
      padding: 0 1rem;
    }
  }

  // container sizes for xl, lg, md, sm screens

  .max_width {
    max-width: 100%;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    @media (min-width: 768px) {
      max-width: 720px;
      padding-inline: 1rem;
    }
    @media (min-width: 992px) {
      max-width: 960px;
      padding-inline: 1rem;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
      padding-inline: 1rem;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
      padding-inline: 0;
    }
  }

  .max_screen_width {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
  }

  .max-screen {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
  }

  .largeHeading {
    font-size: 3rem;
    line-height: normal;

    @media screen and (max-width: 640px) {
      font-size: 2.5rem;
    }
  }

  .mediumHeading {
    font-size: 2rem;
    line-height: normal;

    @media screen and (max-width: 640px) {
      font-size: 1.5rem;
    }
  }

  .heading1 {
    font-size: 1.5rem;
    line-height: 2rem;

    @media screen and (max-width: 640px) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  .description1 {
    font-size: 1.125rem;
    line-height: 1.625rem;

    @media screen and (max-width: 640px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .description2 {
    font-size: 1rem;
    line-height: 1.5rem;

    @media screen and (max-width: 640px) {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  .description3 {
    font-size: 0.875rem;
    line-height: 1.25rem;

    @media screen and (max-width: 640px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
}

.our_features_swiper {
  .pagination,
  .pagination_1,
  .pagination_2,
  .pagination_3 {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // gap: 0.4rem;

    .swiper-pagination-bullet {
      width: 0.5rem;
      height: 0.5rem;
      background-color: rgba(199, 44, 39, 0.5); // Light blue color
      border-radius: 50%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    .swiper-pagination-bullet-active {
      // width: 0.8rem;
      // height: 0.8rem;
      background-color: #c72c27;
      position: relative;
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        top: -0.25rem;
        left: -0.25rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid #1f1f1f; // Dark outer border
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #c72c27;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    &::after {
      font-size: 1rem;
      font-weight: 800;
    }

    @media screen and (max-width: 640px) {
      width: 2rem;
      height: 2rem;

      &::after {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }
  }
}

#gallery,
#reviews,
#about,
#our_featured_dishes {
  position: relative;
}

#gallery::before,
#gallery::after,
#reviews::before,
#about::before,
#our_featured_dishes::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 6.8rem;
  width: 6.8rem;
  height: 11rem;
}

#gallery::before {
  background-image: url("/bg2.png");
  bottom: -3rem;
  left: 10px;

  @media (width < 780px) {
    background: none;
  }
}

#gallery::after {
  background-image: url("/bg1.png");
  top: -2rem;
  right: 10px;

  @media (width < 780px) {
    background: none;
  }
}

#reviews::before {
  background-image: url("/bg3.png");
  top: -5.5rem;
  left: 0px;

  @media (width < 780px) {
    background: none;
  }
}

#about::before {
  background-image: url("/bg4.png");
  bottom: -4rem;
  right: 0px;

  @media (width < 780px) {
    background: none;
  }
}

#our_featured_dishes::before {
  background-image: url("/bg2.png");
  top: 15px;
  right: 0px;

  @media (width < 780px) {
    background: none;
  }
}

.font-family-head {
  font-family: "Playfair Display";
}

.font-family-norm {
  font-family: "Roboto";
}

.border-red-50 {
  border: 1px solid red;
}

.bg-yellow-cards {
  background: #f9f9f1 !important;
}

.we-offer-slider .swiper-slide:not(.swiper-slide-active) {
  filter: blur(5px);
  transition: all 0.3s;

  h3 {
    opacity: 0;
  }
}

.facility-map-border {
  border-width: 1px 0 !important;
  border-style: solid !important;
  border-color: rgba(178, 178, 178, 1) !important;
}

.image-title-center {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.elfsight-app-e3e6d9a0-7d7f-4530-8524-7ef96c38507c a[style*="display: flex"] {
  display: none !important;
}

#widget {
  a {
    display: none !important;
  }
}
.eapp-weather-weather-component {
  a {
    display: none !important;
  }
}

.footer {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("/bg1.png");
    width: 139px;
    height: 123px;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.demo {
  .swiper {
    pointer-events: none;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }
}

.our-services {
  position: relative;
  &::before {
    content: "";
    position: absolute;

    inset: 0;
    background-color: #f9f9f1;
    box-shadow: 0px 7px 29px 0px #64646f33;
    z-index: -2;
    margin-inline: 1rem;
  }
}

.wedding-services {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  &::before {
    inset: 0;
    background-color: #f9f9f1;
    box-shadow: 0px 7px 29px 0px #64646f33;
    z-index: -2;
    margin-inline: 1rem;
  }
  &::after {
    background-image: url("/Group.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 16px;
    width: 120px;
    height: 120px;
    aspect-ratio: 1/1;
    z-index: -1;
  }
}

.banner-swiper {
  .swiper-pagination-bullet {
    background-color: #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
    height: 8px;
    border-radius: 4px;
  }
}

.pagination {
  .swiper-pagination-bullet {
    background-color: #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}
